<div class="p-3 " style="background-color: rgb(198, 183, 241); height: auto;">
  <h1 class="fw-bold text-center fs-1 mt-3">All Products</h1>
  <button class="btn btn-success" routerLink="/admin/dashboard">Back To dashboard</button>

  <div class="d-flex justify-content-between align-items-center mt-5 p-4">
    <div>
      <input
        type="search"
        placeholder="Search here..."
        class="form-control py-2"
        style="width: 500px"
        name="searchkey" [(ngModel)]="searchkey"
      />
    </div>

    <div>
      <app-addproduct></app-addproduct>
    </div>
  </div>

  <!--Products table -->

  <div class="mt-5 mb-4 shadow p-5 bg-white rounded">
    <table class="table border rounded">
      <thead>
        <tr>
          <th scope="col" class="border">id</th>
          <th scope="col" class="border">Product Image</th>
          <th scope="col" class="border">Product Name</th>
          <th scope="col" class="border">Price</th>
          <th scope="col" class="border">Description</th>
          <th scope="col" class="border">Category</th>
          <th scope="col" class="border">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of allProducts | products:searchkey:'productName' ">
          <th scope="row" class="border p-4">{{product.Id}}</th>
          <td class="border p-4">
            <img
              [src]="product.image"
              alt=""
              class="img-fluid"
              style="width: 100px; height: 80px"
            />
          </td>
          <td class="border p-4">
            {{product.productName}}
          </td>
          <td class="border p-5">${{product.price}}</td>
          <td class="border p-4">
            {{product.description}}
          </td>
          <td class="border p-4">{{product.category}}</td>
          <td class="border p-4">
            <div class="d-flex gap-2">
              <i class="bi bi-pencil-square p-3 border rounded bg-success text-white btn" routerLink="/admin/edit-product/{{product._id}}"></i>
              <i
                class="bi bi-trash p-3 border rounded bg-danger text-white btn" (click)="delete(product._id)"
              ></i>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

