
<div class="container-fluid p-5" style="">
    <div class="row">
        <div class="col-3">
            <h3>BrandRoot</h3>
            <div class="d-flex gap-3">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-youtube"></i>
            </div>

        </div>
        <div class="col-3">
            <h5>NEW YORK</h5>
            <p>685 Saadien Ave,<br> 2th Floor
                New York,1240 NYC
            </p>
            <div>
                <h5>LONDON</h5>
            <p>685 Happines Ave,<br> 6th Floor
                London,6030 Uk
            </p>

            </div>

            
        </div>
        <div class="col-3">
            <h5>Servies</h5>
            <p>Product</p>
            <p>Help & support</p>
            <p>Pricing</p>
            <p>FAQ</p>
        </div>
        <div class="col-3">
            <h5>Product</h5>
            <p>Product</p>
            <p>Help & support</p>
            <p>Pricing</p>
            <p>FAQ</p>
        </div>

    </div>

</div>