<app-header></app-header>
<!-- home -->
<div class="hero mx-4 rounded">
    <header class=" "  style="margin-top: 8%; padding: 5%;">
  <div class="container px-5 ">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
            
          <h1 class="  fs-1  text-white fw-bold ">
            Explore  With  Right Appliances
          </h1>
          <p class="lead fw-normal text-dark-50 mb-4 text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia totam ullam magnam veritatis unde deleniti doloremque fugit nemo eos pariatur!</p>
          
          <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start mt-5"
          >
            <a class="btn btn-dark btn-lg px-3 fs-5 fw-lighter text-uppercase" href="#features"
              >Explore Products</a
            >
            
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
          class="img-fluid rounded-3 my-5"
          src="https://t3.ftcdn.net/jpg/03/13/32/66/360_F_313326626_DzL4o62hK6J9nMzstD6kB5tFaYRAg19j.jpg"
          alt="..."
        />
      </div> -->
    </div>
  </div>
</header>

</div>

<!-- subhome -->

<div class="container-fluid mt-5">
  <div class="row p-5 ">
    <div class="col-2  p-5 showcase " >
      <img src="https://5.imimg.com/data5/XL/MI/MY-45738738/samsung-washing-machine.jpg" alt="washing-machine" class="img-fluid">
    </div>
    <div class="col-2  p-5 showcase ">
      <img src="https://5.imimg.com/data5/SELLER/Default/2022/3/YJ/DQ/EE/19250422/whirlpool-1-5-ton-5-star-inverter-split-ac.jpg" alt="airconditioner" class="img-fluid">
    </div>
    <div class="col-2  p-5 showcase ">
      <img src="https://5.imimg.com/data5/SELLER/Default/2023/8/334128858/YQ/JG/IN/5847953/mixer-grinder-for-home-750-watt.jpg" alt="mixer" class="img-fluid">
    </div>
    <div class="col-2  p-5 showcase ">
      <img src="https://5.imimg.com/data5/QZ/KH/YQ/SELLER-8147187/whatsapp-image-2019-09-02-at-1-36-03-pm-500x500.jpeg" alt="fridge" class="img-fluid">
    </div>
    <div class="col-2  p-5 showcase ">
      <img src="https://5.imimg.com/data5/DQ/XK/MY-56039866/wooden-chair.jpg" alt="chair" class="img-fluid">
    </div>
    <div class="col-2  p-5 showcase ">
      <img src="https://www.fabmart.com/cdn/shop/products/traditional-teak-wood-dining-tables-teak-wood-dining-table-languedoc-1_1024x1024.jpeg?v=1476774193" alt="tables" class="img-fluid ">
    </div>

  </div>

</div>

<app-products></app-products>

<app-newsletter></app-newsletter>
<app-footer></app-footer>
