<div class="p-3" style="background-color: white">
  <div class="row">
    <div class="col-lg-4">
      <div
        class="border rounded w-100 h-100 p-5 d-flex gap-3 align-items-center" style="background-color: #9ee9ef;"
      >
        <span>
          <i
            class="bi bi-currency-dollar rounded p-3 border bg-warning text-white fs-3 fw-bold"
          ></i
        ></span>
        <div class="ms-5">
          <p class="fw-bold fs-4">Total Sales</p>
          <p class="mt-2 text-dark">$ 19,626,058.20</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="border rounded w-100 h-100 p-5 d-flex gap-3 align-items-center"
        style="background-color: #d39eef;"
      >
        <span>
          <i
            class="bi bi-cart rounded p-3 border bg-success text-white fs-3 fw-bold"
          ></i
        ></span>
        <div class="ms-5">
          <p class="fw-bold fs-4">Total Orders</p>
          <p class="mt-2 text-dark">3200</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="border rounded w-100 h-100 p-5 d-flex gap-3 align-items-center"
        style="background-color: #efbe9e;"
      >
        <span>
          <i
            class="bi bi-bag-fill rounded p-3 border bg-primary text-white fs-3 fw-bold"
          ></i
        ></span>
        <div class="ms-5">
          <p class="fw-bold fs-4">Total Products</p>
          <p class="mt-2 text-dark">320</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- chart and calender -->


<div class="row p-3 mt-3">
  <div class="col-lg-6 col-sm-12 col-md-12 p-3">
    <app-graph1></app-graph1>

  </div>
  <div class="col-lg-6 col-sm-12 col-md-12 p-3">
<app-graph2></app-graph2>
  </div>

</div>